/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	@media only screen and (min-aspect-ratio: 3/2) {
		body {
		  background-size:100% auto;
		}
	}

	@media only screen and (max-aspect-ratio: 3/2) {
		body {
		  background-size:auto 100%;
		}
	}

	/* Standard 960 and greater (devices and browsers) */
	@media only screen and (min-width: 960px) {
		div#wrapper {
		  background-color:rgba(20,20,20,0.5);
		}		
		div#info {
		  float:left; 
		  max-height:68vh;
		  margin:10vh auto;
		  overflow:hidden;
		  width:100%;
		}
		div#logo {
		  float:left;
		  padding-left:5%;
		  width:50%;
		}
		div#prereg-form {
		  border-radius:30px;
		  float:left;  
		  height:96%;
		  margin:0 4% 0 2%;
		  padding:3%;
		  width:33%;
		}	
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		div#wrapper {
		  background-color:rgba(20,20,20,0.7);
		}
	}

	/* Tablet Portrait and greater (devices and browsers)*/
	@media only screen and (min-width: 768px) {
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 959px) {
		div#info {
			margin:0 auto;
			width:80%;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/