/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		section#info div#infoWrap div#details h1 {
			font-size: 60px !important;
		}
		footer ul li {
			/*padding: 0 0 0 5px !important;*/
		}
		footer ul li a {
			font-size: 14px !important;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header img {
			margin: 0 auto !important;
			display: block;
            float: none !important;
		}
		header ul {
			clear: both;
			float: none !important;
			text-align: center;
		}
		header ul li {
			display: block !important;
			margin: 10px 0;
		}
		header ul li a {
			display: block;
			padding: 10px 0 !important;
		}
		
		section#info div#infoWrap h1 {
			font-size: 42px !important;
		}
		section#sponsors dev#sWrap h3 {
            font-size: 20px !important;
        }
        footer {
            position: inherit !important;
        }
		footer h3 {
			float: none !important;
			text-align: center;
		}
		footer ul {
			text-align: none;
			clear: both;
			padding: 10px 0 0 ;
		}
		footer ul li a {
			display: block;
			text-align: center;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		header img {
			width: 100% !important;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/