@font-face{
font-family: 'OpenSans Regular';
	src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
font-family: 'OpenSans Bold';
	src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face{
font-family: 'CrimsonText Roman';
	src: url('../fonts/CrimsonText-Roman.ttf');
}
@font-face{
font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.ttf');
}
body{
background-attachment:fixed;
background-image:url(../assets/empac_mini.jpg);
background-position:center;
background-repeat:no-repeat;
font-family:"HelveticaNeue", "Helvetica Neue", "Helvetica", Arial, "MS Trebuchet", sans-serif;
width:100%;
}
h1, h2, h3{
font-family:'OpenSans Bold', Helvetica, Arial, "MS Trebuchet", sans-serif;
font-weight:bold;
font-size:46px;
line-height: 1.25em;
}
h2{
font-size:28px;
}
h3{
font-size: 18px;
}
p{
font-size:15px;
color:#222;
}
div#wrapper{
height:100vh;
width:100%;
}
header{
height:12vh;
width:100%;
}
header nav{
  height:50%;
  margin:0 auto;
  position:relative;
  top:5vh;
  width:75%;
}
nav ul{
display:inline;
float:right;
}
nav ul li{
display:inline;
}
nav ul li a, nav ul li a:hover {
-webkit-transition:color 0.2s, font-size 0.4s;
   -moz-transition:color 0.2s, font-size 0.4s;
     -o-transition:color 0.2s, font-size 0.4s;
        transition:color 0.2s, font-size 0.4s;
}
nav ul li a{
font-family:'OpenSans Regular', Helvetica, Arial, sans-serif;
font-size:20px;
color:#eee;
padding: 0 0.75em;
text-decoration:none;
display:inline-block;
}
nav ul li a:hover{
color:#fff;
font-weight:bold;
}
div#logo img {
  width:100%;
}
table#details {
  margin:20px;
}
td.detailIcon {
  color:rgb(192, 52, 40);
  font-size:28px;
  padding-right:10px;
  text-align:center;
}
td.detailText {
  color:#eee;
  font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;
  font-size:24px;
  line-height:1.5;
}
div#prereg-form {
  background-color:rgba(192, 52, 40, .75);
  padding:3%;
}
div#prereg-form h2 {
  color:#eee;
  font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;
  text-align:left;
}
div#prereg-form form {
  margin:0;
  width:100%;
}
div#prereg-form form input.field {
  border:none;
  padding-right:1%;
  margin:20px 0;
  width:98%;
    -webkit-box-shadow:inset 0 0 5px #333;
       -moz-box-shadow:inset 0 0 5px #333;
            box-shadow:inset 0 0 5px #333;
}
div#prereg-form form input.field:focus {
    -webkit-box-shadow:inset 0 0 10px #000;
       -moz-box-shadow:inset 0 0 10px #000;
            box-shadow:inset 0 0 10px #000;
}
div#prereg-form form input.button {
  background:transparent;
  border:2px rgba(200,200,200,0.7) solid;
  border-radius:5px;
  color:#ddd;
  font-size:18px;
  font-weight:normal;
  padding:2% 5%;
  -webkit-transition:background-color 0.5s;
     -moz-transition:background-color 0.5s;
       -o-transition:background-color 0.5s;
          transition:background-color 0.5s;
}
div#prereg-form form input.button:hover {
  background-color:rgba(255,255,255,0.3);
  -webkit-transition:background-color 0.5s;
     -moz-transition:background-color 0.5s;
       -o-transition:background-color 0.5s;
          transition:background-color 0.5s;
}
p#prereg-success {
  display:none;
  color: #ddd;
  margin:30px 0;
  font-family:'OpenSans-Regular', Helvetica, Arial, sans-serif;
  font-size:26px;
}
section#sponsors{
font-family:'OpenSans Bold', Helvetica, Arial, "MS Trebuchet", sans-serif;
background-color:rgb(255, 255, 255);
}
section#sponsors div#sWrap{
padding: 174px 0;
display: block;
}
section#sponsors div#sWrap h3{
font-size: 40px;
color:#000;
text-align:center;
}
section#sponsors div#sWrap a{
text-decoration:none;
color:rgb(192, 52, 40);
}
footer{
background-color:rgb(52, 52, 51);
border-top:3px solid rgb(192, 52, 40);
color:#FFF;
width:100%;
}
footer h3{
font-size:16px;
float:left;
}
footer div#footerWrap{
padding:40px 0;
}
footer ul{
text-align:right;
white-space:nowrap;
}
footer ul li{
display:inline;
padding:0 0 0 15px;
}
footer ul li a{
font-size:18px;
font-weight:bold;
text-decoration:none;
background-color:rgb(192, 52, 40);
padding:10px 20px;
/*border-radius*/
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
color:#FFF;
}
footer ul li a#instagram:hover{
background-color:rgb(81, 127, 164);
/*transition*/
-webkit-transition:color 1s ease-out, background .15s ease-in;
   -moz-transition:color 1s ease-out, background .15s ease-in;
     -o-transition:color 1s ease-out, background .15s ease-in;
        transition:color 1s ease-out, background .15s ease-in;
}
footer ul li a#twitter:hover{
background-color:rgb(64,153, 255);
/*transition*/
-webkit-transition:color 1s ease-out, background .15s ease-in;
   -moz-transition:color 1s ease-out, background .15s ease-in;
     -o-transition:color 1s ease-out, background .15s ease-in;
        transition:color 1s ease-out, background .15s ease-in;
}
footer ul li a#facebook:hover{
background-color:rgb(59, 89, 152);
/*transition*/
-webkit-transition:color 1s ease-out, background .15s ease-in;
   -moz-transition:color 1s ease-out, background .15s ease-in;
     -o-transition:color 1s ease-out, background .15s ease-in;
        transition:color 1s ease-out, background .15s ease-in;
}
